.social-block-wrapper
  = render 'social_connect', provider: :facebook, display_name: 'Facebook', icon: 'icon-facebook-sign'
  = render 'shared/social_connect', provider: :twitter, display_name: 'Twitter', icon: 'icon-twitter-sign'
  = render 'shared/social_connect', provider: :google, display_name: 'Google+', icon: 'icon-google-plus-sign'
  = render 'shared/social_connect', provider: :hatena, display_name: 'Hatena', icon: 'icon-hatena-sign'
  = render 'shared/social_connect', provider: :github, display_name: 'GitHub', icon: 'icon-github-sign'
  = render 'shared/social_connect', provider: :linkedin, display_name: 'LinkedIn', icon: 'icon-linkedin-sign'
  = render 'shared/social_connect', provider: :mixi, display_name: 'Mixi', icon: 'icon-mixi-sign'
